@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f;
}

.main {
  position: relative;
}

.container {
  width: 80%;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #222222;
  padding: 50px;
}

.name,
.text,
.fb,
.insta {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  border: none;
  border-top: 1px solid #c4c4c4;
  width: 90%;
  margin: 0 auto;
}

.container .text {
  color: #222222;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 50px;
}

.social-nws {
  padding: 30px;
}

.fb,
.insta {
  width: 25%;
  padding: 20px;
  text-align: center;
  margin: 0 auto 30px;
  border: 1px solid #222222;
  border-radius: 25px;
}

.fa-facebook-square,
.fa-instagram {
  margin-right: 5px;
}

.fb a,
.insta a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.fb:hover,
.insta:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.fb a:hover,
.insta a:hover {
  color: rgb(38, 132, 255);
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: #aaaaaa;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 1025px) {
  .container .text {
    padding: 40px;
  }
  
  .social-nws {
    padding: 20px;
  }
}

@media (max-width: 556px) {
  .profile-img {
    width: 90px;
  }

  .name {
    font-size: 0.7rem;
  }

  .fb,
  .insta {
    width: 50%;
  }

  .fb a,
  .insta a {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .fb,
  .insta {
    width: 60%;
    padding: 15px;
  }
}

@media (max-width: 320px) {
  .profile-img {
    width: 80px;
  }

  .name {
    font-size: 0.6rem;
  }

  .fb,
  .insta {
    width: 70%;
  }

  .fb a,
  .insta a {
    font-size: 0.9rem;
  }
}
